﻿html {
	margin: 0;
	padding: 0;
	background: #D3D7CF url("http://gnu.hu/img/bg.png") repeat-x;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: Georgia, Times, serif;
	font-size: 12pt;
	color: #2E3436;
}

a {
	color: #A40000;
}

h1, h2, h3 {
	color:#A40000;
	border-bottom: solid 1px #A40000;
}

#navigation {
	margin: 0 5% 0 5%;
	background: url("http://gnu.hu/img/gnu.png") no-repeat;
	padding-left: 150px;
	padding-top: 95px;
	min-height:101px;
	font-size: 9pt;
}

#navigation ul {
	list-style-type:none;
}

#navigation li{
	display: inline;
	float: left;
	text-decoration:none;
	padding: 2px;
	margin: 2px 4px;
}

#navigation li.selected{
	border-bottom: 2px solid #A40000;
}

#navigation a{
	text-decoration:none;
}

#navigation a:hover{
	background: #A40000;
	color: #FFFFFF;
}

#content {
	margin: 0 5%;
	max-width: 1170px;
	flex: 1;
	clear: both;
}

#footer-wrap {
	background: #D3D7CF url("http://gnu.hu/img/bg-foot.png") repeat-x bottom;
	min-height: 126px;
	padding-left: 5%;
	position: relative;
}

#footer-wrap img {
	position: absolute;
	bottom: 0px;
	left: 5%;
	border: 0;
}

#footer {
	padding-top: 60px;
	margin-left: 250px;
	padding-right:5%;
	font-size: 8pt;
}

/* Licensing */
/* This is for licenses/gpl-faq.html. */

table#gpl-compat-matrix {
	border-collapse: collapse;
}

table#gpl-compat-matrix td,
th.gpl-matrix-border {
	text-align: center;
	border: 1px solid black;
	margin: 0;
	padding: .3em;
}

th.gpl-matrix-license {
	text-align: right;
}

tr.gpl-matrix-use-type {
	border-top: 2px solid black;
}

table#gpl-compat-matrix td.ok {
	background-color: #ccffcc;
}

table#gpl-compat-matrix td.mok {
	background-color: #e4ffcc;
}

table#gpl-compat-matrix td.nok {
	background-color: #dddddd;
}
